@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #F87171;
    --light-black: #1F2937;
    --dark-grey: #9CA3AF;
    --light-gray: #FEF2F2;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    padding: 0%;
    
    height: auto;
    line-height: 24px;   
}

section{
    display: block;
}

.body-section{
    widows: 50%;
    padding: 1rem;

}

.markdown-body{
    padding: 1rem;
    max-width:800px;
    margin: auto;
}

a{
    text-decoration:none;
    color:white;
}

div{
    display: block;
}

hr{
    margin: 2rem 0rem;
}

/* container */
.container {
padding: 0rem 1rem;

}

.container-center{
    max-width: 600px;
    margin: auto;
}

/** links **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* Lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav  */
.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding:1rem 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link {
    color:white;
   
}

.nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
    color:blue;
}

/* header */

.hero{
    padding:2rem;
    border-radius:50px;
}

.hero .hero-image {
    max-width: 350px;
    display: block; 
    margin: auto;
}

.hero .hero-heading{
    padding-top:1rem;
    color: var(--dark-grey);
    text-align: center;
}


/* section */
.section{
    padding: 0.5rem 2rem 1rem 2rem;
}
.section h3{
    text-align:center;
    font-size: 2rem;
}

.section-list li p {
    font-style:italic;
    color: var(--dark-grey);
    padding-bottom: 3rem;
}

.section-list li a {
    color:var(--light-black);
    text-align:left;

}

 
.section .section-list li {
     font-size:1.5rem;
} 


p{
    font-size:1.2rem;
}

.section-ow {
    background: var(--light-gray);
    border-bottom-left-radius: 2rem;
    padding: 0.5rem 2rem;
}

.footer{
    background-color: var(--primary-color);
    text-align:left;
    padding-inline-start: 0px;
    padding:0.5rem 1rem 1rem 1rem;
    color:white;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
}

.footer .footer-ul{
    padding-inline-start: 0px;
    text-align: right;
}


/* Blog */
.blog-heading p{
    font-size: smaller;
    text-align: end;
    font-style: italic;
    color:#9CA3AF;
    padding-right:2rem;
}

.blog-heading h1{
    text-align:center;
    padding-top: 2rem;
}

.blog-content {
    padding: 1rem 1rem;
    background: var(--light-gray);
    text-align: justify;
    border-radius: 1rem;
}



/* blog 5: Devils : behind every heroes */
.devil-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  height: 50%;
  padding-bottom: 2rem;
  object-position:0px 30px;
}

/* Blog 4: Stock marketL beginner */
.stock-image {
    display: block;
    margin: auto;
    padding: 2rem;
    width: 50%;
}

